
#t {
  border-collapse: collapse;
  width: 80%;
}


button{
  color: #2eb82e;
  background-color: white;
  border: none;
  font-size: 16px;
  border-radius: 12px;
  padding: 16px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid #2eb82e;
}
button:hover{
  background-color: #2eb82e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 12px;

}

#t td{
  width: 6%;
  border: 1px solid #2eb82e;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
  height: 0; }
#t td div{ position: absolute }
#t1 {
  border-collapse: collapse;
  width: 90%;
  margin-top: 5%;

}
#heading{
  background-color: #2eb82e;
  color: white;
  border-radius: 12px;

}
#t1 td{
  text-align: center;
  width: 20%;
  padding-bottom: 3%;
  padding-top: 3%;
  font-size: 20px;
  height: 0; }
#t1 td div { position: absolute }
#t2 {
  border-collapse: collapse;
  width: 80%;
}
#t2 td{
  width: 6%;
  border: 1px solid #2eb82e;
  text-align: center;
  padding-bottom: 3%;
  padding-top: 3%;
  height: 0; }
#t2 td div { position: absolute }
#countdown{
  font-size: 50px;
  color: red;
}
